php_value session.save_path "0;644;./sessions/"
php_value session.gc_probability "1"

<Files "variables.php">
Order Allow,Deny
Deny from All
</Files>

<Files "antibot.font">
Order Allow,Deny
Deny from All
</Files>

